/* intuitivnější box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */

h1 {
    text-align: center;
    font-size: 40px;
}
h2 {
    text-align: center;
    padding-top: 40px;
}


.box {
    border: 30px;
    line-height: 1px;
    padding: 10px;
    display: flex;
    flex: 50%;
    text-align: left;
    flex-direction: row;
}

.box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 20px 10px 320px;
}

.box-adela {
    line-height: 1px;
    display: flex;
    flex: 50%;
    text-align: right;
    float: right;
    flex-direction: row;
    margin: -120px 230px 10px 10px;
}

.box-adela img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    float: left;
    margin: 0px 100px 10px 10px;
}

.two {
    margin-top: 40px;
}


.figurky img {
    width: 100%;
}

.figurky {
    display: grid;
	grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    gap: 0;
    background-image: url(obrazky/sachovnice.png);
}

.figurky { 
    background-size: contain;
    width: 600px;
    height: 600px;
    border: 6px solid #442e19;
    margin: auto;
}

.figurky #dama-bila {
    display: none;
    visibility: hidden;
}
.figurky #dama-cerna {
    display: none;
    visibility: hidden;
}

.figurky #kral-cerna {
    grid-column: 6;
    grid-row: 6;
}
.figurky #kral-bila {
    grid-column: 6;
    grid-row: 8;
}
.figurky #vez-cerna {
    grid-column: 3;
    grid-row: 8;
}
.figurky #vez-bila {
   display: none;
   visibility: hidden;
}

.figurky #strelec-bila {
    display: none;
    visibility: hidden;
 }

.figurky #strelec-cerna{
    grid-column: 5;
    grid-row: 1;
}
.figurky #pesec-cerna1 {
    grid-column: 1;
    grid-row: 2;
}
.figurky #pesec-cerna2 {
    grid-column: 3;
    grid-row: 3;
}
.figurky #pesec-cerna3 {
    grid-column: 8;
    grid-row: 4;
}

.figurky #pesec-bila {
    grid-column: 4;
    grid-row: 4;
}

.figurky #kun-bila {
    grid-column: 2;
    grid-row: 5;
}

.figurky #kun-cerna {
    display: none;
    visibility: hidden;
}

.knoflik {
    border: none;
    text-align: center;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    padding: 15px 50px 15px 50px;
    border-radius:10px;
    margin:auto;
    display:block;
}

